    @import url('https://fonts.googleapis.com/css?family=Fugaz+One');
    @import url('https://fonts.googleapis.com/css?family=Poppins');
    * {
        text-align: center;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }
    
    header {
        background-image: url(./img/bus-2.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 0;
        padding: 5% 0;
        width: 100%;
        margin: 0 auto 20px auto;
    }
    
    h1 {
        font-family: 'Fugaz One', cursive;
        color: white;
        font-size: 5vw;
        font-weight: bold;
        width: 40%;
        margin: -3vw auto 0 auto;
        padding: 10px 0 5px 0;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 50%;
    }
    
    section {
        width: 100%;
        margin: 30px auto 20px auto;
    }
    
    h2 {
        font-size: 1.4em;
        font-weight: bold;
        margin-bottom: 10px;
    }
    
    p {
        width: 70%;
        margin: 20px auto;
    }
    
    figure {
        display: inline-block;
        width: 30%;
        margin: 30px auto;
        padding: 0 3%;
        vertical-align: top;
    }
    
    img {
        width: 100%;
    }
    
    figcaption {
        font-size: 1.2em;
        font-weight: bold;
        margin-top: 10px;
    }
    
    .click_data_chart_div {
        width: 70%;
        margin: auto;
    }