* {
    text-align: center;
}

header,
footer,
section,
ul {
    margin-top: 30px;
    margin-bottom: 20px;
}

Header {
    font-size: 1.8em;
    font-weight: bold;
}

p {
    width: 70%;
    margin: 20px auto;
}

section {
    width: 100%;
    margin: auto;
}

figure {
    display: inline-block;
    width: 20%;
    margin: 30px 1%;
}

img {
    width: 100%;
}

h2 {
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 10px;
}

figcaption {
    font-size: 1.2em;
    font-weight: bold;
}

.click_data_chart_div {
    width: 70%;
    margin: auto;
}